<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<p> 登陆</p>
<form action="login" name="user" method="get">
    <table>
        <tr>
            <td>用户名</td>
            <td><input type="text" id="account" name="account"></td>
        </tr>
        <tr>
            <td>密 码</td>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="登陆" name="login">
            </td>
        </tr>
    </table>
</form>
</body>
</html>
